//$icon-font-path: "../fonts/";

@import "vars";
@import "functions";

body {
    font-size: 14px;
    font-family: $helvetica-neue;
    padding-top: 51px;
    padding-bottom: 31px;
}

.navbar {
    background: white;
    border-bottom: 1px solid $gray-light;
    font-family: $brandonFont;

    &, a {
        color: $black;
        font-size: em(14);
    }
    & > li > a {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .container {
        position: relative;
        form.search {
            display: none;
            &.in, &.collapsing {
                display: block;
            }
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: white;
            z-index: 10;
            i.glyphicon {
                font-size: 20px;
                padding-top: 12px;
                padding-right: 7px;
                color: $gray;
            }
            input {
                border: none;
                color: $black;
                font-size: em(20);
                font-weight: bold;
                font-family: $helvetica-neue;
                width: 800px;
                &, &:focus {
                    outline: none;
                }
            }
        }
    }

    .cart-products {
        font-family: $helvetica-neue;
        padding: 10px;
        li {
            &.border {
                border-bottom: 1px solid $gray;
            }
            font-size: 12px;
            .cart-product {
                padding: 12px 0;
                min-width: 330px;
                &:hover {
                    text-decoration: none;
                }
                img {
                    float: left;
                    margin-right: 17px;
                }
                .price {
                    float: right;
                    padding-left: 5px;
                }
                .title {
                    float: left;
                    width: 160px;
                    .specs {
                        display: block;
                        color: $gray;
                    }
                }
            }
            &.total {
                line-height: 46px;
            }
            &.actions {
                a {
                    float: left;
                    clear: none;
                    font-weight: bold;
                    width: 48%;
                    padding-top: 9px;
                    padding-bottom: 9px;
                    &:first-child {
                        margin-right: 4%;
                    }
                    &.btn-gray {
                        color: $gray-dark;
                    }
                }
            }
        }
    }
}

ul.dropdown-menu {
    border-radius: 0;
    background: rgba(0,0,0,0.8);
    a {
        color: white;
        &:hover {
            color: white;
            background: none;
            text-decoration: underline;
        }
    }
}

div.text-top {
    font-size: 12px;
    position: relative;
    .text-center > span {
        font-family: $helvetica-neue;
        &, a {
            color: $black;
        }
        line-height: 27px;
        border-left: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;
        border-right: 1px solid $gray-lighter;
        display: inline-block;
        padding: 0 15px;
    }
    .pull-right {
        margin-top: -22px;
        font-family: $helvetica;
        a {
            padding-top: 2px;
            color: $gray;
            text-decoration: underline;
        }
    }
}

.btn {
    border: 1px solid $gray-dark;
    color: $gray-dark;
    border-radius: 0;
    &.btn-white {
        border: 1px solid $white;
        color: $white;
    }
}

nav.categories {
    padding: 0;
    margin-top: 20px;
    padding-bottom: 17px;
    > ul {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        > li {
            display: inline-block;
            text-align: center;
            padding: 0 2.5%;
            > a {
                font-family: $brandonFont;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 400;
                padding-bottom: 17px;
                color: $black;
                &.text-pink {
                    color: $pink;
                }
            }
            > ul {
                margin-top: 17px;
                a {
                    font-family: $helvetica-neue;
                    font-size: 12px;
                    line-height: 30px;
                }
            }
        }
    }
}

a.big-image {
    width: 100%;
}

a.img-text {
    display: block;
    margin-bottom: 7px;
    position: relative;
    img {
        width: 100%;
    }

    .texts {
        position: absolute;
        text-align: center;
        left: 5%;
        right: 5%;
        bottom: 5%;
        font-size: 30px;
        font-family: $helvetica-neue;
        font-weight: bold;
        color: white;
        text-decoration: none;
        &.white {
            background: rgba(255,255,255,0.8);
            color: $black;
        }

        strong {
            display: block;
            padding-bottom: 30px;
        }
        span {

            text-transform: uppercase;
            padding-bottom: 20px;
            font-size: 14px;
            font-family: $brandonFont;
            display: block;
            text-decoration: underline;
        }
    }
    &.img-vertical {
        float: left;
        width: 32.6666%;
        margin-right: 0.5%;
        margin-left: 0.5%;
        &.no-right {
            margin-right: 0;
        }
        &.no-left {
            margin-left: 0;
        }
    }
    &.img-horizontal {
        float: left;
        width: 49.5%;
        margin-right: .5%;
        margin-left: .5%;
        &.no-right {
            margin-right: 0;
        }
        &.no-left {
            margin-left: 0;
        }
        .texts strong {
            padding-bottom: 15px;
        }
    }
}

.fixed-footer {
    position: fixed;
    background: white;
    border-top: 1px solid $gray-light;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;

    ul {
        display: block;
        text-align: center;
        li {
            list-style: none inside;
            display: inline-block;
            line-height: 28px;
            padding: 0 10px;
            a {
                font-size: 10px;
                text-transform: uppercase;
                &:hover {
                    color: $black;
                }
            }
            .fb-like {
                top: -4px;
            }
        }
    }
}