//$icon-font-path: "../fonts/";

@import "rad/index";


body {
    font-size: 14px;
    font-family: $helvetica-neue;
    padding-top: 0;
    padding-bottom: 31px;
    &.gray {
        background-color: $white-dark;
    }

    @media (max-width : 767px) {
        padding-top: 55px;
        padding-bottom: 0;
    }
}