.cart-container {

    .big-title {
        margin-bottom: 20px;
        margin-top: -20px;
        padding-bottom: 10px;
        border-bottom: 1px solid $black;
        text-align: center;
        font-size: 24px;
        color: $black;
    }

    .cart-connexion {
        @extend .clearfix;
        form {
            width: 265px;
            margin: auto;
        }
        .form-group {
            position: relative;
            .forgot-pass {
                color: $gray-light;
                font-family: $helvetica-neue;
                font-size: 14px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                border: 1px solid $gray-light;
                @include radius(50%);
                display: block;
                text-align: center;
                text-decoration: none;
                position: absolute;
                top: 11px;
                right: 7px;
            }
        }
    }

    .main-sepa {
        margin-top: 70px;
        margin-bottom: 3px;
    }

    .cart-resume {
        float: left;
        width: 450px;
        margin-top: 35px;
        @media (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;
            float: none;
            width: 100%;
        }
    }

    .address-book {
        position: absolute;
        left: 0;
        top: 0;
        width: 250px;
        &.address-book-right {
            left: auto;
            right: 0;
            text-align: right;
            @media (max-width: 992px) {
                text-align: center;
            }
        }
        @media (max-width: 992px) {
            position: static !important;
            width: 100%;
            margin-bottom: 20px;
        }
        font-family: $helvetica-neue;
        font-size: 12px;
        color: $black;

        h3.small-title {
            font-weight: bold;
            font-size: 14px;
            height: 33px;
            line-height: 33px;
            margin: 0;
            padding: 0;
        }

        .item {
            @extend .clearfix;
            margin-bottom: 11px;
            .description {
                padding-bottom: 2px;
                font-size: 12px;
            }
            a.edit, a.use {
                display: inline-block;
                color: $white;
                @include radius(2px);
                padding: 11px 19px;
                background: $gray-light;
                text-decoration: none;
                margin-right: 5px;
                &:hover {
                    background: $gray;
                }
            }
            a.use {
                background: $red-lighter;
                &:hover {
                    background: $red-light;
                }
            }
        }
    }

    form.address {
        width: 350px;
        margin: auto;
        @media (max-width: 992px) {
            width: 100%;
        }
    }

    form {
        .form-group {
            input[type="text"], input[type="email"], input[type="password"], textarea {
                height: 33px;
                line-height: 33px;
                text-indent: 13px;
                padding: 0;
                -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
                box-shadow: 0 0 0 0 rgba(0,0,0,0);
                + input, textarea {
                    margin-top: 11px;
                }
            }
            .help {
                padding-top: 5px;
                color: $gray-light;
                font-size: 12px;
            }
            .error {
                padding-top: 5px;
                color: $red-light;
                font-size: 12px;
            }

            input[type="submit"] {
                @include radius(2px);
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
}