a.big-image {
    width: 100%;
}

a.img-text {
    display: block;
    margin-bottom: 7px;
    position: relative;
    img {
        width: 100%;
    }

    .texts {
        position: absolute;
        text-align: center;
        left: 5%;
        right: 5%;
        bottom: 5%;
        font-size: 30px;
        font-family: $helvetica-neue;
        font-weight: bold;
        color: white;
        text-decoration: none;
        &.white {
            background: rgba(255,255,255,0.8);
            color: $black;
        }

        strong {
            display: block;
            padding-bottom: 30px;
        }
        span {

            text-transform: uppercase;
            padding-bottom: 20px;
            font-size: 14px;
            font-family: $brandonFont;
            display: block;
            text-decoration: underline;
        }
    }
    &.img-vertical {
        float: left;
        width: 32.6666%;
        margin-right: 0.5%;
        margin-left: 0.5%;
        &.no-right {
            margin-right: 0;
        }
        &.no-left {
            margin-left: 0;
        }
    }
    &.img-horizontal {
        float: left;
        width: 49.5%;
        margin-right: .5%;
        margin-left: .5%;
        &.no-right {
            margin-right: 0;
        }
        &.no-left {
            margin-left: 0;
        }
        .texts strong {
            padding-bottom: 15px;
        }
    }
}