@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

@mixin shadow($color: $gray-dark, $size: 5px) {
    -webkit-box-shadow: 0 0 $size 0 $color;
    box-shadow: 0 0 $size 0 $color;
}
@mixin radius($topLeft: 0, $topRight: $topLeft, $bottomRight: $topLeft, $bottomLeft: $topRight) {
    -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}