// boostrap vars
$icon-font-path: '/fonts/';

// Colors
$white:             #FFFFFF;
$white-dark:        #f4f4f4;
$black:             #000000;
$black-light:       #272727;
$black-lighter:     #666666;
$gray-light:        #c0c0c0;
$gray:              #878787;
$gray-dark:         #575757;
$gray-disabled:     #d5d5d5;
$beige:             #c3a98d;

$blue:              #477eda;
$green:             #59c779;
$red:               #ff2424;
$red-light:         #ec4445;
$pink:              #ff1e78;

// Aliases
$gray-lighter:      $gray-light;

// Disabled radius
$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;

$base-font-size:    14;

// Fonts
$brandonFont:       "Brandon Grotesque", Verdana, sans-serif;
$helvetica-neue:    'Helvetica Neue', Helvetica, $brandonFont;
$helvetica:         'Helvetica', $helvetica-neue;

// Misc

// OVERRIDE BOOTSTRAP
$brand-danger:          $red-light;
$btn-danger-border:     $red-light;
$brand-primary:         $blue;
$hr-border:             $gray-light;