// Colors
$white:             #FFFFFF;
$black:             #000000;
$black-light:       #272727;
$gray-light:        #c0c0c0;
$gray:              #878787;
$gray-dark:         #575757;
$gray-lighter:      #c0c0c0;
$red:               #ff2424;
$pink:              #ff1e78;

$base-font-size:    14;

// Fonts
$brandonFont:       "Brandon Grotesque", Verdana, sans-serif;
$helvetica-neue:    'Helvetica Neue', Helvetica, $brandonFont;
$helvetica:         'Helvetica', $helvetica-neue;

.text-underline {
    text-decoration: underline;
}