.btn {
    border: 1px solid $gray-dark;
    color: $gray-dark;
    &.btn-white {
        border: 1px solid $gray-light;
        color: $gray-light;
        background: $white;

    }

    &.btn-black {
        color: $white;
        background-color: $black;
    }
    &.btn-primary {
        background: $blue;
        color: $white;
    }
}