.btn {
    &.btn-white {
        border: 1px solid $gray-light;
        color: $gray-light;
        background: $white;

    }

    &.btn-black {
        color: $white;
        background-color: $black;
    }
}
