.navbar {
    background: white;
    border-bottom: 1px solid $gray-light;
    font-family: $helvetica-neue;
    margin-bottom: 14px;

    &, a {
        color: $black;
        font-size: 13px;
        font-weight: 300;
    }
    & > li > a {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    &.navbar-top {
        min-height: 47px;
        background: $gray-f4;
        .navbar-collapse.collapse.navbar-right {
            padding-right: 0;
        }
    }
    .fake-container {
        position: relative;
        form.search {
            display: none;
            margin-left: 15px;

            &.in, &.collapsing {
                display: block;
            }
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: $gray-f4;
            z-index: 10;

            a {
                float: left;
            }
            i.glyphicon {
                font-size: 20px;
                padding-top: 12px;
                padding-right: 7px;
                color: $gray;
            }
            input {
                border: none;
                color: $black;
                margin: 9px 0 0 0;
                text-indent: 10px;
                font-size: em(20);
                font-weight: bold;
                font-family: $helvetica-neue;
                width: 50%;
                background: $gray-f4;
                &, &:focus {
                    outline: none;
                }
            }

            &.search-mobile {
                @media (max-width: 767px) {
                    display: block;
                    bottom: auto;
                    position: relative;
                    left: auto;
                    right: auto;
                    background: none;
                    margin-top: -35px;
                    top: auto;
                    a {
                        display: none;
                    }
                    input {
                        margin-top: -1px;
                        display: block;
                        width: 84%;
                        margin-left: 13%;
                    }
                }
            }
        }
    }

    .cart-products {
        font-family: $helvetica-neue;
        border: 1px solid $gray-light;
        padding: 0;
        li.product {
            + li.product {
                border-top: 1px solid $gray-f4;
            }
            font-size: 12px;
            min-width: 330px;
            margin: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            padding: 13px 8px;
            position: relative;
            .remove-item {
                position: absolute;
                right: 0px;
                top: 10px;
                display: block;
                background: url(../img/cart-resume-close.png) no-repeat;
                width: 16px;
                height: 16px;
            }
            img {
                width: 68px;
                max-height: 104px;
                float: left;
                margin-right: 10px;
            }
            .title, .price {
                color: $black;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                display: block;
            }
            .title {
                height: 30px;
            }
            .specs {
                color: $gray-bb;
                font-weight: 100;
                strong {
                    font-weight: 400;
                }
            }
            &:hover {
                background: $gray-f4;
                border-color: $gray-f4;
            }
        }
        li.total {
            border-top: 1px solid $gray-dd;
            background: $gray-f4;
            letter-spacing: 0.3px;
            .price {
                font-family: $arial;
                height: 50px;
                display: block;
                text-align: center;
                line-height: 50px;
                color: $red-light;
                + a.btn-danger {
                    font-family: $arial;
                    display: block;
                    color: $white;
                    font-weight: bold;
                    font-size: 14px;
                    text-transform: uppercase;
                    margin: 0 10px 10px 10px;
                    &:hover {
                        background-color: #e61719;
                    }
                }
            }
        }
    }
    .navbar-toggle {
        border-color: $black;
        .icon-bar {
            background: $black;
        }
        &.navbar-toggle-left {
            float: left;
            margin-left: 15px;
            margin-right: 0;
        }
    }
}
@media (min-width: 768px) {
    .navbar-nav > li {
        float: right;
        > a {
            padding-top: 13px;
            padding-bottom: 14px;
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        &.navbar-nav {
            margin-left: 0;
            margin-right: 0;
        }
        .navbar-brand {
            text-align: center;
            display: block;
            float: none;
            img {
                display: inline;
            }
        }
        & .navbar-right{
            display: block !important;
            visibility: visible;

            position: fixed;
            top: 0;
            bottom: 0;
            background: $white;
            z-index: 1101;
            margin: 0;
            min-height: 100%;
            max-height: 100%;
        }
        .cart-btn {
            display: block;
            border: 1px solid $black;
            margin: 2px 20px 11px 20px;
            text-align: center;
            padding: 3px 0;
        }
        .open .cart-btn, .cart-btn:hover {
            background: $black !important;
            color: white !important;
        }
        li + li {
            border-bottom: 1px solid $gray;
            border-top: 1px solid $gray;
            margin-bottom: -1px;
            a:before {
                content: '<';
                padding-right: 6px;
                font-size: 18px;
                font-family: $brandonFont;
            }
            ul.dropdown-menu {
                a {
                    color: $black;
                }
                margin-bottom: -5px;
            }
        }
    }
}
.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
}
.navbar-nav > li > a {
    color: $gray;
}


div.text-top {
    font-size: 12px;
    position: relative;
    .text-center > span {
        font-family: $helvetica-neue;
        &, a {
            color: $black;
            &.text-underline-hover span:first-of-type:before {
                bottom: -2px;
            }
        }
        line-height: 27px;
        border-left: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;
        border-right: 1px solid $gray-lighter;
        display: inline-block;
        padding: 0 15px;
    }
    .pull-right {
        margin-top: -22px;
        font-family: $helvetica;
        a {
            padding-top: 2px;
            color: $gray;
            &.text-underline-bottom span:first-of-type:before {
                bottom: -2px;
            }
        }
    }
    @media (max-width: 1120px) {
        .text-center {
            text-align: left;
        }
        .pull-right {
            br {
                display: none;
            }
            .date:after {
                content: '-';
                padding: 0 5px;
            }
        }
    }
    @media (max-width: 992px) {
        .text-center {
            text-align: center;
        }
        .pull-right {
            float: none !important;
            text-align: center;
            display: block;
            margin-top: 5px;
        }
    }
    @media (max-width: 480px) {
        .text-center span {
            line-height: 12px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }

    @media (max-width: 767px) {
        display: none;
    }
}

.navbar-brand {
    height: 47px;
}

.country-left {
    float: left;
    width: 100px;
    margin-top: 8px;
    &,&:hover {
        color: $gray;
    }
    font-size: 13px;
    font-family: $helvetica-neue;
    background: url(../img/pin-country.png) no-repeat left center;
    padding-left: 20px;
    margin-left: 15px;
//    span:before {
//        bottom: -2px;
//    }
}