.text-underline {
    text-decoration: underline;
}
.text-bold {
    font-weight: bold;
}

.page-title {
    font-size: 30px;
    font-weight: bold;
    color: $black;
    margin: 10px auto 30px;
    position: relative;
    a.text-gray-disabled {
        padding-right: 10px;
        padding-left: 10px;
        &:hover {
            color: $gray-disabled;
        }
    }
    a.back {
        &, &:hover {
            color: $black;
        }
        font-size: 12px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
        line-height: 12px;
        @media (max-width: 767px) {
            position: relative;
            text-align: left;
            display: block;
            width: 100%;
            left: auto;
            top: auto;
            padding: 10px 0;
            margin: 0;
        }
    }
}


.grayscale {
    -webkit-filter: grayscale(0.6);
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    filter: gray;
}
.grayscale-100 {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.no-grayscale-hover:hover{
    -webkit-filter: grayscale(0) !important;
    -webkit-filter: grayscale(0%) !important;;
    filter: grayscale(00%) !important;;
    filter: gray !important;;
}
