$bgColor: rgba(0,0,0,0.7);
@media (min-width: 767px) {
    ul.dropdown-menu {
        border-radius: 0;
        background-color: $bgColor;
        a {
            color: white;
            &:hover {
                color: white;
                background: none;
                text-decoration: underline;
            }
            &.text-underline-hover span:first-of-type:before {
                bottom: -2px;
            }
        }
    }
}